﻿// $mobile-size: 320px;
// $tablet-size: 768px;
// $desktop-size: 1200px;

// $mobile-gap: 10px;
// $tablet-gap: 15px;
// $desktop-gap: 20px;

$white: #ffffff;
$black: #000000;
$green: #7AEE3C;
$yellow: #FFFF00;
$red: #FF0000;
$grey: #888888;
