.atm-info {
  width: 692px;
  margin-left: auto;
  margin-right: auto;
}

.atm-info__form {
  display: flex;
  justify-content: space-between;
}

.atm-info__select {
  flex-grow: 1;
}

.atm-info__btn {
  @include btn-reset;

  background-color: #263c54;
  color: $white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;

  &:hover,
  &:focus {
    outline: none;
    color: $green;
  }

  &:active {
    opacity: 0.8;
  }

}
