.atm-btn {
  @include btn-reset;

  display: inline-block;
  width: 45px;
  height: 28px;

  color: $black;

  background-color: lighten($grey, 35);
  border-radius: 15px;
  transform: skewX(-15deg) scaleY(0.8);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: lighten($grey, 30);
    outline: none;
  }

  &:active {
    background-color: lighten($grey, 35);
    box-shadow: inset 0 1px 2px $black;
  }
}

.atm-btn-- {
  &1,
  &2,
  &3 {
    width: 40px;
    height: 23px;

    font-size: 16px;
  }

  &enter {
    width: 75px;
    height: 23px;

    font-size: 16px;
  }

  &4,
  &5,
  &6 {
    width: 43px;
    height: 26px;

    font-size: 17px;
  }

  &clear {
    width: 78px;
    height: 26px;

    font-size: 17px;
  }

  &cancel {
    width: 81px;
    height: 29px;
  }

  &0 {
    width: 46px;
    height: 29px;

    font-size: 19px;
  }
}



.atm-btn--enter {
  color: $green;
}

.atm-btn--clear {
  color: $yellow;
}

.atm-btn--cancel {
  color: $red;
}

.atm-btn--left,
.atm-btn--right {
  @include btn-reset;

  width: 30px;
  height: 20px;

  color: $black;

  background-color: lighten($grey, 35);
  border-radius: 15px;
  transform: skewX(-15deg) scaleY(0.8);

  &:active {
    box-shadow: inset 1px 1px 2px $black;
  }
}

.atm-btn--right {
  transform: skewX(15deg) scaleY(0.8);

  &:active {
    box-shadow: inset -1px 1px 2px $black;
  }
}
