.atm {
  position: relative;

  width: 908px;
  height: 582px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../img/atm_v2.png");
  background-repeat: no-repeat;
}

.atm__message {
  @include p-reset;

  position: absolute;
  top: 95px;
  left: 270px;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 260px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 18px;
  text-align: center;
  color: $black;

  transform: rotateX(45deg);

  pointer-events: none;
}

.atm__user-input {
  @include p-reset;

  position: absolute;
  top: 135px;
  left: 270px;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 23px;
  text-align: center;
  color: $black;

  transform: rotateX(45deg);

  backface-visibility: hidden; // Google Chrome rendering fix
  -webkit-filter: blur(0); // Google Chrome rendering fix

  pointer-events: none;
}

.atm__left-msgs {
  @include list-reset;

  position: absolute;
  top: 170px;
  left: 240px;

  width: 166px;
  min-height: 109px;

  pointer-events: none;
}

.atm__left-msg {
  position: absolute;

  transform: skewX(-20deg) scaleX(0.8);

  &:nth-of-type(1) {
    top: 0;
    left: 32px;

    font-size: 16px;
  }

  &:nth-of-type(2) {
    top: 26px;
    left: 24px;

    font-size: 17px;
  }

  &:nth-of-type(3) {
    top: 54px;
    left: 20px;

    font-size: 18px;
  }

  &:nth-of-type(4) {
    top: 83px;
    left: 5px;
    width: 100%;

    font-size: 19px;
  }
}

.atm__right-msgs {
  @include list-reset;

  position: absolute;
  top: 170px;
  right: 350px;

  width: 164px;
  height: 109px;

  pointer-events: none;
}

.atm__right-msg {
  position: absolute;

  width: 100%;

  text-align: right;

  transform: skewX(5deg) scaleX(0.8);

  &:nth-of-type(1) {
    top: 0;
    right: 18px;

    font-size: 16px;
  }

  &:nth-of-type(2) {
    top: 26px;
    right: 13px;

    font-size: 17px;
  }

  &:nth-of-type(3) {
    top: 54px;
    right: 9px;

    font-size: 18px;
  }

  &:nth-of-type(4) {
    top: 83px;
    right: 4px;

    font-size: 19px;
  }
}

.atm__left-btns {
  @include list-reset;

  position: absolute;
  top: 163px;
  left: 184px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 60px;
}

.atm__left-btn {
  line-height: 0;
  margin-top: 7.5px;
  &:nth-of-type(2) {
    margin-right: 8px;
  }

  &:nth-of-type(3) {
    margin-right: 16px;
  }

  &:nth-of-type(4) {
    margin-right: 24px;
  }
}

.atm__right-btns {
  @include list-reset;

  position: absolute;
  top: 163px;
  left: 553px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 60px;
}

.atm__right-btn {
  line-height: 0;
  margin-top: 7.5px;
  &:nth-of-type(2) {
    margin-left: 8px;
  }

  &:nth-of-type(3) {
    margin-left: 16px;
  }

  &:nth-of-type(4) {
    margin-left: 24px;
  }
}

.atm__user-btns {
  @include list-reset;

  position: absolute;
  top: 420px;
  left: 203px;

  justify-content: space-between;
  box-sizing: border-box;
  width: 330px;
  margin-left: -15px;
  padding-right: 10px;
  padding-left: 10px;
}

.atm__user-btn {
  display: inline-block;
  margin-left: 15px;
}

.atm__user-btn:nth-of-type(4) {
  margin-left: 30px;
}

.atm__user-btn:nth-of-type(5) {
  margin-left: 7px;
}

.atm__user-btn:nth-of-type(8) {
  margin-left: 28px;
}

.atm__user-btn:nth-of-type(9) {
  margin-left: 0;
}

.atm__user-btn:nth-of-type(12) {
  margin-left: 28px;
}

.atm__user-btn:nth-of-type(13) {
  margin-left: 54px;
}
