.cards-info {
  position: absolute;
  top: 270px;
  right: 129px;

  width: 100px;
  height: 92px;
  background-color: #263c54;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $white;
  font-size: 22px;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $green;
  }

  &:active {
    opacity: 0.8;
  }
}
