.modal-cards {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 350px);
  z-index: 1;

  box-sizing: border-box;
  width: 700px;
  height: 400px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  background-color: $white;
  background-image: url("../img/black-market.png");
  background-repeat: no-repeat;
  background-position: bottom 10px right 20px;
  display: none;
}

.modal-cards--show {
  display: block;
}

.modal-cards__info {
  @include h-reset;

  margin-bottom: 15px;

  font-size: 24px;
  text-align: center;
}

.modal-cards__table-wrapper {
  position: relative;
}

.modal-cards__table-scroll {
  max-height: 200px;
  overflow: auto;
}

.modal-cards__table {
  width: 100%;

  border-collapse: collapse;
  font-size: 14px;

  thead td {
    padding-right: 10px;
    padding-left: 10px;

    font-size: 16px;
  }

  td {
    text-align: center;

    border: 1px solid $black;
  }
}

.modal-cards__refresh-btn {
  @include btn-reset;

  margin-left: calc(50% - 60px);
  margin-top: 40px;

  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  font-size: 16px;
  color: $white;

  background-color: #263c54;

  &:hover,
  &:focus {
    color: $green;

    outline: none;
  }

  &:active {
    opacity: 0.8;
  }
}

.modal-cards__close-btn {
  @include btn-reset;

  position: absolute;
  top: 10px;
  right: -40px;

  width: 30px;
  height: 30px;

  background-color: $red;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;

    width: 30px;
    height: 2px;

    background-color: $white;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
