body {
	font-size: 18px;
	font-family: Arial, sans-serif;
	line-height: 20px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	background: #000000;
	margin: 0 auto;
	padding: 0;
}

.main-nav {
	height: 100%;
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.main-nav__item {
	padding-left: 40px;
	padding-right: 40px;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-nav__item:hover {
	background-color: #d48e1f;
	color: #000000;
}

.main-nav__item:hover > a {
	color: #000000;
}

.main-nav__item:active {
	background-color: rgba(212,142,31,0.6);
	color: rgba(0,0,0,0.6);
}

.main-nav__item:active > a {
	color: rgba(0,0,0,0.6);
}

.main-nav__item > a {
	color: #ffffff;
	text-decoration: none;
}

.main-nav__item--dropdown {
	position: relative;
}

.main-nav__dropdown {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}

.main-nav__dropdown--show {
	display: block;
}

.main-nav__dropdown li {	
	background-color: #2e2c28;
	border-bottom: 1px solid #dcd8d3;
}

.main-nav__dropdown a {
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 18px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-nav__dropdown a:hover {
	opacity: 0.6;
}

.main-nav__dropdown a:active {
	opacity: 0.4;
}