body {
	background: #d9e7ee;
}

.modal-window {
	width: 800px;
	height: 400px;
	background: #ffffff;
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 400px);
	z-index: 1;
	display: none;
}

.modal-window-show {
	display: block;
}

.modal-window-close {
	width: 30px;
	height: 30px;
	background: #d41f1f;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: -40px;
	transition: opacity 0.2s ease-in;
}

.modal-window-close:hover,
.modal-window-close:focus {
	opacity: 0.8;
}

.modal-window-close:active {
	opacity: 0.6;
}

.modal-window-close::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 0;
	width: 30px;
	height: 3px;
	transform: rotate(45deg);
	background: #ffffff;
}

.modal-window-close::after {
	content: "";
	position: absolute;
	top: 14px;
	left: 0;
	width: 30px;
	height: 3px;
	transform: rotate(-45deg);
	background: #ffffff;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

.overlay-show {
	display: block;
}
