.users-table {
  display: none;
  tbody {
    counter-reset: number;
    th:nth-child(1) {
      &::before {
        content: counter(number);
        counter-increment: number;
        text-align: center;
      }
    }

    td:nth-child(3) {
      padding-left: 0;
    }

    td:nth-child(4) {
      padding-left: 0;
    }
  }
}
